::selection {
  background: hotpink;
  color: black;
}

:root {
  background: #111;
  color: hotpink;
}

:any-link {
  color: violet;
}

@media (prefers-contrast: more) {
  :root {
    background: #111;
    color: mistyrose;
  }
}
